@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  background-color: #222222;
  font-family: 'Inter', sans-serif;
  color: #FFFFFF;
}

p {
  position: relative;
  display: inline;
  margin-left: 1em;
}

input {
  background-color: #222222;
  border: 1px solid #c2c2c2;
  border-radius: 4px;
  color: #FFFFFF;
  outline: none;
  padding: 5px;
}

.conversion-container {
  text-align: center;
}