@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  background-color: #222222;
  font-family: 'Inter', sans-serif;
  color: #FFFFFF;
}

p {
  position: relative;
  display: inline;
  margin-left: 1em;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 2.5em;
}

input {
  background-color: #222222;
  border: 1px solid #c2c2c2;
  border-radius: 0.5em;
  color: #FFFFFF;
  outline: none;
  padding: 1em;
  font-size: 2em;
  font-family: 'Inter', sans-serif;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.top, .middle {
  display: flex;
  margin-left: 32%;
  margin-right: 32%;
}

.middle {
  justify-content: center;
}

.top {
  justify-content: space-between;
  margin-top: -2em;
}

h1 {
  text-align: center;
}